In [143]:
import pandas as pd
from nltk import SnowballStemmer, PorterStemmer, LancasterStemmer, download
from nltk.util import ngrams
from nltk.corpus import stopwords
from nltk.tokenize import TreebankWordTokenizer
from string import punctuation
from sklearn.feature_extraction.text import CountVectorizer
from nltk.stem import WordNetLemmatizer
from IPython.display import display

In [144]:
download(['stopwords'])

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/ultracode/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [159]:
essay = pd.read_csv("./Dataset/Essay_data.csv")
essay.head()

  I/E N/S T/F J/P                                              Essay
0   I   S   T   J  My first 4 months at the EDSA have been filled...
1   I   N   F   J  I joined the academy being at a crossroads of ...
2   E   N   F   J  so far my experience has been positive and i c...
3   I   N   F   J  I have been very fortunate to have the opportu...
4   I   N   T   J  Looking back to when one got to the academy an...

In [160]:
essay.shape

(94, 5)

In [161]:
essay.dropna()

   I/E N/S T/F J/P                                              Essay
0    I   S   T   J  My first 4 months at the EDSA have been filled...
1    I   N   F   J  I joined the academy being at a crossroads of ...
2    E   N   F   J  so far my experience has been positive and i c...
3    I   N   F   J  I have been very fortunate to have the opportu...
4    I   N   T   J  Looking back to when one got to the academy an...
..  ..  ..  ..  ..                                                ...
89   I   S   F   J  My experience at the Explore Data Science Acad...
90   I   N   T   P  A new city, new people and a completely new en...
91   I   N   T   J  My experience at the academy has been one of t...
92   I   S   F   J  After spending a year at home while it was jus...
93   E   S   F   P  The Academy has brought nothing but useful and...

[93 rows x 5 columns]

In [162]:
essay.reset_index()

    index I/E N/S T/F J/P                                              Essay
0       0   I   S   T   J  My first 4 months at the EDSA have been filled...
1       1   I   N   F   J  I joined the academy being at a crossroads of ...
2       2   E   N   F   J  so far my experience has been positive and i c...
3       3   I   N   F   J  I have been very fortunate to have the opportu...
4       4   I   N   T   J  Looking back to when one got to the academy an...
..    ...  ..  ..  ..  ..                                                ...
89     89   I   S   F   J  My experience at the Explore Data Science Acad...
90     90   I   N   T   P  A new city, new people and a completely new en...
91     91   I   N   T   J  My experience at the academy has been one of t...
92     92   I   S   F   J  After spending a year at home while it was jus...
93     93   E   S   F   P  The Academy has brought nothing but useful and...

[94 rows x 6 columns]

In [154]:
stop_words = set(stopwords.words('english'))
def remove_stop_words(tokens):    
    return " ".join([token for token in tokens if token not in stop_words])

translator = str.maketrans(string.punctuation, ' ' * len(string.punctuation))
def remove_punctuation(post):
    #return "".join([word if word not in punctuation else " " for word in post]).lower()
    # Step 2: Remove punctuation and replace it with a single whitespace
    return post.translate(translator).lower()

In [155]:
clean_stop_words = remove_stop_words("Iâ€™m a part-time student @explore-software.".split())
display(clean_stop_words)
without_punct = remove_punctuation(clean_stop_words)
display(without_punct)
cleaned_text = without_punct
cleaned_text

'Iâ€™m part-time student @explore-software.'

'iâ€™m part time student  explore software '

'iâ€™m part time student  explore software '

In [156]:
display([gram for gram in ngrams(cleaned_text.split(),2)])
list(ngrams(sentence.split(), 2))

[('iâ€™m', 'part'),
 ('part', 'time'),
 ('time', 'student'),
 ('student', 'explore'),
 ('explore', 'software')]

[('iâ€™m', 'part'),
 ('part', 'time'),
 ('time', 'student'),
 ('student', 'explore'),
 ('explore', 'software')]

In [152]:
import string
from nltk.corpus import stopwords
from nltk.util import ngrams
import nltk

# Download stopwords if not already downloaded
nltk.download('stopwords')

# Given sentence
sentence = "Iâ€™m a part-time student @explore-software."

# Step 3: Split sentence into words
words = sentence.split()

# Step 4: Remove stopwords
stop_words = set(stopwords.words('english'))
filtered_words = [word for word in words if word not in stop_words]
display(filtered_words)

# Step 2: Remove punctuation and replace it with a single whitespace
# str.maketrans(from, to): This method creates a translation table that maps each 
# character in the from string to the corresponding character in the to string.
# string.punctuation: The from string containing all punctuation characters.
# ' ' * len(string.punctuation): The to string is a series of spaces of the same length
# as the from string. This means each punctuation character will be replaced by a space.
translator = str.maketrans(string.punctuation, " " * len(string.punctuation))
sentence = " ".join(filtered_words).translate(translator)
display(sentence)

# Step 1: Convert all text to lowercase
sentence = sentence.lower()
display(sentence)

# Step 5: Create bi-grams
bigrams = list(ngrams(sentence.split(), 2))

# Output the bi-grams and their count
print("Bi-grams:", bigrams)
print("Number of bi-grams:", len(bigrams))

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/ultracode/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

['Iâ€™m', 'part-time', 'student', '@explore-software.']

'Iâ€™m part time student  explore software '

'iâ€™m part time student  explore software '

Bi-grams: [('iâ€™m', 'part'), ('part', 'time'), ('time', 'student'), ('student', 'explore'), ('explore', 'software')]
Number of bi-grams: 5

In [65]:
Intuitive_count = (essay["N/S"] == "N").mean()
sensing_count = essay[essay["N/S"] == "S"]["N/S"].count()
Intuitive_count, (sensing_count/(67+26))

(0.7127659574468085, 0.27956989247311825)

In [101]:
essay["Essay without punct"] = essay["Essay"].apply(remove_punctuation)
essay["Essay without punct"].iloc[0][:10]

'my first 4'

In [102]:
tokenizer = TreebankWordTokenizer()
essay["Essay without punct"] = essay["Essay"].apply(tokenizer.tokenize)
len(essay["Essay without punct"].iloc[17])

456

In [142]:
len(tokenizer.tokenize(essay["Essay"][16].translate(translator).lower()))

340

In [124]:
snowball = SnowballStemmer('english')
snowball.stem("experiences")

'experi'

In [141]:
eighty_first_words = [word for word in essay["Essay"][80].split() if word not in stop_words]
display(eighty_first_words[23:30])

['collaborated', 'ensured', 'done', 'times', 'working', 'lab', 'always']

In [132]:
essay["Essay"][80]

'My reflections in the Academy , it gets better and  better everytime, first few months were hard as i had it hard to adapt to the environment and the people i was placed with, but i am grateful for the support they always offered and how well we always collaborated and ensured that we do what had to be done at all times\n\nworking in the lab i always found it convenient as i can be able to ask any assistance from anybody close to me or any of the supervisors for clarity at any time given, working in teams is always challenging as we are different people who learn not the same way, some possess a certain skill, while others having other skill to prove and together in most cases it helped us a lot as we would share the work among ourselves and get the best results we could with what knew best\n\nWhen it comes to the decision making , in all the previous groups i participated in ,we always checked what was expected of us from the rubric, then we would either volunteer to do the parts of the projects individually or the team leader would delegate who does what and we will all sit down and see if ever they are all in line with whats needed,and fix where they need fixing, it would get rational as other people would feel they are not treated fairly and equally and the part of the work is not given much credit like others, and we always argued but at the end got a solution to it all, but all in all i am grateful of the experience and the skills i am still getting up to so far.'

In [157]:
import pandas as pd # redo
import string
from nltk.corpus import stopwords
import nltk

# Download stopwords if not already downloaded
nltk.download('stopwords')

# Step 1: Load the data
df = pd.read_csv('./Dataset/Essay_data.csv')

# Step 2: Clean the data
df = df.dropna().reset_index(drop=True)

# Step 3: Define helper functions for text processing
stop_words = set(stopwords.words('english'))

def remove_punctuation(text):
    translator = str.maketrans(string.punctuation, ' ' * len(string.punctuation))
    return text.translate(translator)

def process_text(text):
    # Convert to lowercase
    text = text.lower()
    # Remove punctuation
    text = remove_punctuation(text)
    # Split into words
    words = text.split()
    # Remove stopwords
    filtered_words = [word for word in words if word not in stop_words]
    return filtered_words

# Step 4: Process each essay and collect unique words
unique_words = set()

for essay in df['Essay']:  # Replace 'essay_column' with the actual column name containing the essays
    words = process_text(essay)
    unique_words.update(words)

# Step 5: Count unique words
num_unique_words = len(unique_words)

print(f"Number of unique words (after removing stopwords): {num_unique_words}")

Number of unique words (after removing stopwords): 3334

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/ultracode/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [164]:
def bag_of_words_count(words, word_dict={}):
    """
    This function takes in a list of words and returns a dictionary 
    with each word as a key, and the value represents the number of 
    times that word appeared
    """
    for word in words:
        if word in word_dict.keys():
            word_dict[word] += 1
        else:
            word_dict[word] = 1
    return word_dict

bag_of_words_count(essay["Essay"][55].split())["time"]

3

In [166]:
from collections import Counter
# Step 4: Process each essay and count word frequencies
word_counter = Counter()

for essay in df['Essay']:  # Replace 'essay' with the actual column name containing the essays
    words = process_text(essay)
    word_counter.update(words)

# Step 5: Calculate the total number of words and the number of words that appear at least twice
total_words = sum(word_counter.values())
words_at_least_twice = sum(1 for count in word_counter.values() if count >= 2)

# Calculate the percentage
percentage = (words_at_least_twice / total_words) * 100

print(f"Percentage of words that appear at least twice: {percentage:.2f}%")

Percentage of words that appear at least twice: 9.51%

In [174]:
list(ngrams(process_text(df["Essay"][69]), 2))[108]

('quite', 'well')