<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Basic SQL queries in a notebook
Â© ExploreAI Academy

In this exercise, we will query a sample database for a digital media company called Chinook that has tables for artists, albums, media tracks, invoices, and customers.

## Learning objectives

By the end of this train, you should be able to:
- Use the `SELECT` statement to query columns from tables in a SQLite database.
- Use the `WHERE` clause to add conditions to queries.
- `LIMIT` query outputs.
- Join multiple boolean expressions using the `AND` keyword.

First, let's load our sample database:

In [ ]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [ ]:
# Load the Chinook database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///chinook.db

Here is a [view](https://www.lucidchart.com/pages/er-diagrams) of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://github.com/Explore-AI/Pictures/blob/master/sqlite-sample-database-color.jpg?raw=true"  style="width:500px";/>
<br>
<br>
    <em>Figure 1: Chinook ERD</em>
</div>

[Image source](https://www.sqlitetutorial.net/sqlite-sample-database/)

## Exercise

Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Write a query that returns the first names of all Chinook digital media store customers. 

Limit the results to the first 10 customers.

In [ ]:
# Add your code here

### Exercise 2


Write a query to find out when each Chinook employee was hired. 

Return data in the `FirstName`, `LastName`, and `HireDate` columns from the employees table.

In [ ]:
# Add your code here

### Exercise 3


Write a query that returns all Chinook employee information.

In [ ]:
# Add your code here

### Exercise 4

Let's write a SQL query that will return all customers who live in Germany. 

Return data in the `FirstName` and `LastName` columns of the customers table where the country is equal to `Germany`.

In [ ]:
# Add your code here

### Exercise 5

Write a SQL query that will return all customers who don't live in Germany. 

Return data in the `FirstName`, `LastName`, and `Country` columns of the customers table where the country is not equal to `Germany`. 

Limit the results to the first 10 customers.

In [ ]:
# Add your code here

### Exercise 6
Write a query that returns all invoices that show USA purchases with a total greater than 10 dollars. 

Return data from all columns in the invoices table where the `BillingCountry` is equal to USA and the `Total` is greater than 10.

In [ ]:
# Add your code here

### Exercise 7
Write a query that returns all stored information for Sales Support Agents who were hired on or after the 3rd of May 2003 and stay in Calgary.

Return data in all columns from the employees table where the `HireDate` is greater than or equal to `2003-05-03` and the `Title` is equal to `Sales Support Agent` and the `City` is equal to `Calgary`.

In [ ]:
# Add your code here

## Solutions

### Exercise 1

In [ ]:
%%sql 

SELECT FirstName 
FROM customers
LIMIT 10;

### Exercise 2

In [ ]:
%%sql

SELECT FirstName, LastName, HireDate
FROM employees;

### Exercise 3

In [ ]:
%%sql

SELECT *
FROM employees;

The `*` here simply means "all columns". Another way to write this query would have been to list each column name in the employees table individually. However, this approach gets tedious for large database tables.

### Exercise 4

In [ ]:
%%sql

SELECT FirstName, LastName
FROM customers
WHERE Country = "Germany";

The double quotes (i.e. "") in this query are used to specify a string (i.e. VARCHAR) in SQL.

### Exercise 5

In [ ]:
%%sql

SELECT FirstName, LastName, Country
FROM customers
WHERE Country != "Germany"
LIMIT 10;

### Exercise 6

In [ ]:
%%sql

SELECT *
FROM invoices
WHERE BillingCountry = "USA"
    AND Total > 10;

### Exercise 7

In [ ]:
%%sql

SELECT * 
FROM employees
WHERE HireDate >= "2003-05-03"
    AND Title = "Sales Support Agent"
    AND City = "Calgary";

The above two queries join multiple boolean expressions using the AND keyword.

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>