<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# Querying in notebooks
© ExploreAI Academy

In this exercise, we will query a sample SQLite database file for a retail company called Northwind to gain some insight into their data. Ensure that you have downloaded the database file Northwind.db.

## Learning objectives

By the end of this train, you should:
- Use basic SELECT statements to retrieve specific data from a database.
- Use the WHERE clause to filter data based on certain conditions.
- Combine multiple conditions using logical operators such as AND and OR.
- Use different logical operators to get or exclude specific values in a table, including the use of IN for multiple values.

First, let's load our sample database:

In [ ]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [ ]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///Northwind.db

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:500px";/>
<br>
<br>
    <em>Figure 1: Northwind ERD</em>
</div>

## Exercise

Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Find the names of all customers from Germany in the Northwind database.

In [ ]:
# Add your code here

### Exercise 2


Find all products in the Northwind database that have a unit price greater than 30 and are discontinued. 

Note: The product has been discontinued when the column `Discontinued` is equal to  1.

In [ ]:
# Add your code here

### Exercise 3


Find the contact names and phone numbers of customers from either 'USA' or 'Canada'.

In [ ]:
# Add your code here

### Exercise 4

From the 'Orders' table, select all orders that were placed by 'VINET', 'QUICK' or 'SUPRD' and were shipped via shipper 1 or 2.

In [ ]:
# Add your code here

### Challenge question

Find the employees in the Northwind database who are either Sales Representatives or Sales Managers and are based in London.

In [ ]:
# Add your code here

## Solutions

### Exercise 1

In [ ]:
%%sql
SELECT 
    ContactName 
FROM 
    Customers 
WHERE 
    Country = 'Germany';

### Exercise 2

In [ ]:
%%sql

SELECT 
    ProductName, Discontinued
FROM 
    Products 
WHERE 
    UnitPrice > 30 
    AND Discontinued = 1;

### Exercise 3

In [ ]:
%%sql

SELECT 
    ContactName, 
    Phone 
FROM 
    Customers 
WHERE 
    Country IN ('USA', 'Canada');

### Exercise 4

In [ ]:
%%sql

SELECT 
    * 
FROM 
    Orders 
WHERE 
    CustomerID IN ('VINET', 'QUICK', 'SUPRD')
    AND ShipVia IN (1,2);

### Challenge question

In [ ]:
%%sql

SELECT 
    FirstName, 
    LastName 
FROM 
    Employees 
WHERE 
    (Title = 'Sales Representative' OR Title = 'Sales Manager') 
    AND City = 'London';

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>