<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# SQL string functions
Â© ExploreAI Academy

In this exercise, we will use string functions to filter our data in order to extract relevant information.

## Learning objectives

By the end of this train, you should be able to:
- Use the `LIKE` operator to filter text data.
- Use the `LOWER` and `UPPER` functions to query text data.
- Concatenate text data from multiple columns.

First, let's load our sample database:

In [ ]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [ ]:
# Load the Chinook database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///chinook.db

Here is a [view](https://www.lucidchart.com/pages/er-diagrams) of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://github.com/Explore-AI/Pictures/blob/master/sqlite-sample-database-color.jpg?raw=true"  style="width:70%";/>
<br>
<br>
    <em>Figure 1: Chinook ERD</em>
</div>

[Image source](https://www.sqlitetutorial.net/sqlite-sample-database/)

## Exercise

Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Run a query that will give us a view of the data type of the customers table.

In [ ]:
# Add your code here

### Exercise 2


Write a query that will return all the columns for the tracks that contain the word love.

Limit this to the first 10 results.

In [ ]:
# Add your code here

### Exercise 3


Write a query that returns all customers whose first name starts with the letter D.

In [ ]:
# Add your code here

### Exercise 4

Formulate a query that returns customers with email addresses that have domains that end in three letters.

In [ ]:
# Add your code here

### Exercise 5

Write a query that shows all customers who live in the UK.

In [ ]:
# Add your code here

### Exercise 6
Write a query that shows employee first and last names in the same column.

In [ ]:
# Add your code here

## Solutions

### Exercise 1

In [ ]:
%%sql

PRAGMA table_info(customers);

### Exercise 2

In [ ]:
%%sql 

SELECT 
    * 
FROM 
    tracks AS t
WHERE 
    t.Name LIKE "%love%"
LIMIT 10;

### Exercise 3

In [ ]:
%%sql

SELECT 
    *
FROM 
    customers AS c
WHERE 
    c.FirstName LIKE "D%";

### Exercise 4

In [ ]:
%%sql

SELECT *
FROM customers AS c
WHERE c.Email LIKE "%.___"
LIMIT 5;

One of the most useful string operators in SQL is the `LIKE` operator. This allows us to search for a pattern of text within a table column.

`LIKE` is used in the `WHERE` clause in conjunction with wildcards. Examples include:

- `%`: represents zero, one, or multiple characters
- `_`: represents a single character

### Exercise 5

In [ ]:
%%sql

SELECT 
    *
FROM 
    customers
WHERE 
    LOWER(country) = "united kingdom";

When filtering on string columns, it's best to use the `UPPER` or `LOWER` functions so as to not exclude any entries that might differ based on their case.

### Exercise 6

In [ ]:
%%sql

SELECT FirstName || " " || LastName AS "Full Name"
FROM employees;

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>