In [12]:
import pandas as pd
import numpy as np

In [7]:
df = pd.read_csv("./Dataset/football_players.csv", encoding='ISO-8859-1')
df.head()

,Name,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,...,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions,Preferred Positions Type
0,Cristiano Ronaldo,32,Portugal,94.0,89.0,63.0,89.0,63.0,93.0,95.0,...,94.0,23.0,91.0,92.0,31.0,80.0,85.0,88.0,ST LW,Forward
1,L. Messi,30,Argentina,93.0,92.0,48.0,90.0,95.0,95.0,96.0,...,85.0,26.0,87.0,73.0,28.0,59.0,90.0,85.0,RW,Forward
2,Neymar,25,Brazil,92.0,94.0,56.0,96.0,82.0,95.0,92.0,...,80.0,33.0,90.0,78.0,24.0,53.0,80.0,83.0,LW,Forward
3,L. Suárez,30,Uruguay,92.0,88.0,78.0,86.0,60.0,91.0,83.0,...,87.0,38.0,77.0,89.0,45.0,80.0,84.0,88.0,ST,Forward
4,M. Neuer,31,Germany,92.0,58.0,29.0,52.0,35.0,48.0,70.0,...,25.0,11.0,61.0,44.0,10.0,83.0,70.0,11.0,GK,GoalKeeper

In [21]:
data = {
    'a': [1,2,3],
    'b': [4,5,6],
    'c': [7,8,9]
}

a = pd.DataFrame(data, index=['first', 'second', 'third'])
a

        a  b  c
first   1  4  7
second  2  5  8
third   3  6  9

In [15]:
np.append(a, [[92, 88, 78]], axis=0)

array([[ 1,  4,  7],
       [ 2,  5,  8],
       [ 3,  6,  9],
       [92, 88, 78]])

In [29]:
a[['a']]

        a
first   1
second  2
third   3

In [31]:
a.loc[['first']]

       a  b  c
first  1  4  7

In [35]:
algeria_players = df[df['Nationality']=='Algeria']
algeria_players.sort_values(by=['Overall'], ascending=False).head()

,Name,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,...,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions,Preferred Positions Type
143,R. Mahrez,26,Algeria,83.0,85.0,40.0,92.0,85.0,88.0,82.0,...,76.0,19.0,80.0,75.0,23.0,51.0,79.0,71.0,RM,Midfielder
202,I. Slimani,29,Algeria,82.0,66.0,86.0,64.0,55.0,75.0,79.0,...,78.0,24.0,72.0,87.0,48.0,85.0,72.0,79.0,ST,Forward
259,Y. Brahimi,27,Algeria,82.0,86.0,46.0,93.0,87.0,85.0,86.0,...,69.0,25.0,75.0,76.0,36.0,49.0,78.0,73.0,LM,Midfielder
356,R. Boudebouz,27,Algeria,81.0,77.0,58.0,79.0,75.0,81.0,79.0,...,79.0,30.0,76.0,72.0,35.0,59.0,84.0,73.0,CAM,Midfielder
396,N. Bentaleb,22,Algeria,80.0,66.0,74.0,76.0,72.0,81.0,80.0,...,84.0,60.0,68.0,77.0,73.0,71.0,82.0,67.0,CDM CM,Midfielder

In [44]:
back_players = df[df['Preferred Positions Type']=='Back']
back_players.sort_values(by='Sliding tackle', ascending=False).head()

,Name,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,...,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions,Preferred Positions Type
10,Sergio Ramos,31,Spain,90.0,75.0,84.0,79.0,60.0,84.0,80.0,...,79.0,91.0,77.0,84.0,89.0,81.0,63.0,66.0,CB,Back
25,J. Boateng,28,Germany,88.0,72.0,82.0,58.0,53.0,71.0,86.0,...,79.0,90.0,78.0,74.0,91.0,91.0,76.0,53.0,CB,Back
27,M. Hummels,28,Germany,88.0,62.0,66.0,64.0,58.0,77.0,91.0,...,71.0,90.0,65.0,66.0,92.0,85.0,79.0,60.0,CB,Back
17,G. Chiellini,32,Italy,89.0,68.0,92.0,59.0,64.0,57.0,82.0,...,78.0,90.0,78.0,68.0,92.0,91.0,50.0,45.0,CB,Back
26,D. Godín,31,Uruguay,88.0,62.0,86.0,63.0,58.0,76.0,82.0,...,67.0,89.0,67.0,67.0,86.0,80.0,52.0,47.0,CB,Back

In [54]:
england_palyers = df[df['Nationality']=='England']
england_palyers.groupby(by="Preferred Positions Type")[['Overall']].mean().sort_values(by='Overall', ascending=False)

                            Overall
Preferred Positions Type
Back                      63.669104
Midfielder                63.393035
Forward                   62.513245
GoalKeeper                61.078652

In [55]:
england_palyers = df[df['Nationality']=='Brazil']
england_palyers.groupby(by="Preferred Positions Type")[['Overall']].mean().sort_values(by='Overall', ascending=False)

                            Overall
Preferred Positions Type
GoalKeeper                71.611940
Back                      71.490975
Midfielder                70.681356
Forward                   70.028902

In [60]:
df.sort_values('Age', ascending=False)[['Nationality']].head(1)

      Nationality
17977     England

In [69]:
goalkeppers = df[df["Preferred Positions Type"]=="GoalKeeper"]
goalkeppers[['GK diving', 'GK handling', 'GK kicking', 'GK positioning', 'GK reflexes']].mean().sort_values(ascending=False)

GK reflexes       63.848887
GK diving         62.988157
GK positioning    60.843676
GK handling       60.675983
GK kicking        59.424443
dtype: float64

In [82]:
df.groupby("Preferred Positions Type")[['Preferred Positions Type']].count()

                          Preferred Positions Type
Preferred Positions Type
Back                                          5848
Forward                                       3253
GoalKeeper                                    2111
Midfielder                                    6769

In [86]:
young_portugal_palyers = df[(df['Nationality']=='Portugal') & (df['Age']<25)]
young_portugal_palyers.sort_values(by='Overall', ascending=False).head(1)

,Name,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,...,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions,Preferred Positions Type
94,Bernardo Silva,22,Portugal,84.0,85.0,58.0,88.0,86.0,89.0,84.0,...,72.0,35.0,78.0,80.0,44.0,54.0,85.0,66.0,RM,Midfielder