## Part 2
https://drive.google.com/file/d/1ejnRykS1wkmftautOZJALj7sDlKqWvcy/view

In [1]:
%load_ext sql

In [2]:
%sql mysql+pymysql://ultracode:ultracode@localhost:3306/md_water_services

In [3]:
%%sql -- set up table
WITH Records AS(
SELECT  l.province_name,
        l.town_name,
        v.visit_count,
        v.location_id,
        w.type_of_water_source,
        w.number_of_people_served
FROM
    location as l
JOIN
    visits as v
ON
    l.location_id=v.location_id
JOIN
    water_source as w
ON 
    w.source_id=v.source_id
WHERE v.visit_count = 1
ORDER BY province_name, town_name
LIMIT 10
)

SELECT * FROM Records;

 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
10 rows affected.

[('Akatsi', 'Harare', 1, 'AkHa00000', 'tap_in_home', 956),
 ('Akatsi', 'Harare', 1, 'AkHa00001', 'tap_in_home_broken', 930),
 ('Akatsi', 'Harare', 1, 'AkHa00002', 'tap_in_home_broken', 486),
 ('Akatsi', 'Harare', 1, 'AkHa00003', 'well', 364),
 ('Akatsi', 'Harare', 1, 'AkHa00004', 'tap_in_home_broken', 942),
 ('Akatsi', 'Harare', 1, 'AkHa00005', 'tap_in_home', 736),
 ('Akatsi', 'Harare', 1, 'AkHa00006', 'tap_in_home', 882),
 ('Akatsi', 'Harare', 1, 'AkHa00007', 'tap_in_home', 554),
 ('Akatsi', 'Harare', 1, 'AkHa00008', 'well', 398),
 ('Akatsi', 'Harare', 1, 'AkHa00009', 'well', 346)]

In [4]:
%%sql 
-- Remove unneeded columns and convert to a view
-- This view assembles data from different tables into one to simplify analysis

CREATE VIEW IF NOT EXISTS combined_analysis_table AS
SELECT  l.province_name,
        l.location_type,
        l.town_name,
        w.type_of_water_source as source_type,
        w.number_of_people_served as people_served,
        v.time_in_queue,
        wp.results
FROM
    location as l
JOIN
    visits as v
ON
    l.location_id=v.location_id
JOIN
    water_source as w
ON 
    w.source_id=v.source_id
LEFT JOIN
    well_pollution as wp
ON wp.source_id=v.source_id
WHERE v.visit_count = 1
ORDER BY province_name, town_name;

SELECT COUNT(*) FROM combined_analysis_table;

 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
0 rows affected.
1 rows affected.

[(39650,)]

In [5]:
%%sql --build a pivot table
WITH province_totals AS (-- This CTE calculates the population of each province
SELECT
    province_name,
    SUM(people_served) AS total_ppl_serv
FROM
    combined_analysis_table
GROUP BY
    province_name
)

SELECT
    ct.province_name,
-- These case statements create columns for each type of source.
-- The results are aggregated and percentages are calculated
    ROUND((SUM(
            CASE WHEN source_type = 'river' 
            THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS river,
    ROUND((SUM(
            CASE WHEN source_type = 'shared_tap'
            THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(
            CASE WHEN source_type = 'tap_in_home'
            THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
            THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN source_type = 'well'
            THEN people_served ELSE 0 END) * 100.0 / pt.total_ppl_serv), 0) AS well
FROM
    combined_analysis_table ct
JOIN
    province_totals pt 
ON 
    ct.province_name = pt.province_name
GROUP BY
    ct.province_name
ORDER BY
    ct.province_name;

 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
5 rows affected.

[('Akatsi', Decimal('5'), Decimal('49'), Decimal('14'), Decimal('10'), Decimal('23')),
 ('Amanzi', Decimal('3'), Decimal('38'), Decimal('28'), Decimal('24'), Decimal('7')),
 ('Hawassa', Decimal('4'), Decimal('43'), Decimal('15'), Decimal('15'), Decimal('24')),
 ('Kilimani', Decimal('8'), Decimal('47'), Decimal('13'), Decimal('12'), Decimal('20')),
 ('Sokoto', Decimal('21'), Decimal('38'), Decimal('16'), Decimal('10'), Decimal('15'))]

In [6]:
%%sql
WITH province_totals AS (-- This CTE calculates the population of each province
SELECT
    province_name,
    SUM(people_served) AS total_ppl_serv
FROM
    combined_analysis_table
GROUP BY
    province_name
)

-- province_totals is a CTE that calculates the sum of all the people surveyed grouped by province. If you replace the query above with this one:
SELECT
*
FROM
province_totals;

 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
5 rows affected.

[('Akatsi', Decimal('5993306')),
 ('Amanzi', Decimal('5431826')),
 ('Hawassa', Decimal('3843810')),
 ('Kilimani', Decimal('6584764')),
 ('Sokoto', Decimal('5774434'))]

In [7]:
%%sql 
-- build a pivot table organized by towns
-- Since there are two Harare towns, we have to group by province_name and town_name

WITH town_totals AS (-- This CTE calculates the population of each town
SELECT
    province_name, 
    town_name,
    SUM(people_served) AS total_ppl_serv
FROM
    combined_analysis_table
GROUP BY
    province_name, town_name
)

SELECT
    ct.province_name,
    ct.town_name,
-- These case statements create columns for each type of source.
-- The results are aggregated and percentages are calculated
    ROUND((SUM(
            CASE WHEN source_type = 'river' 
            THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS river,
    ROUND((SUM(
            CASE WHEN source_type = 'shared_tap'
            THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(
            CASE WHEN source_type = 'tap_in_home'
            THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
            THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN source_type = 'well'
            THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS well
FROM
    combined_analysis_table ct
JOIN
    town_totals tt
-- Since the town names are not unique, we have to join on a composite key
ON 
    ct.province_name = tt.province_name AND ct.town_name=tt.town_name
GROUP BY
    ct.province_name, ct.town_name
ORDER BY
    ct.province_name;

 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
31 rows affected.

[('Akatsi', 'Harare', Decimal('2'), Decimal('17'), Decimal('28'), Decimal('27'), Decimal('27')),
 ('Akatsi', 'Kintampo', Decimal('2'), Decimal('15'), Decimal('31'), Decimal('26'), Decimal('26')),
 ('Akatsi', 'Lusaka', Decimal('2'), Decimal('17'), Decimal('28'), Decimal('28'), Decimal('26')),
 ('Akatsi', 'Rural', Decimal('6'), Decimal('59'), Decimal('9'), Decimal('5'), Decimal('22')),
 ('Amanzi', 'Abidjan', Decimal('2'), Decimal('53'), Decimal('22'), Decimal('19'), Decimal('4')),
 ('Amanzi', 'Amina', Decimal('8'), Decimal('24'), Decimal('3'), Decimal('56'), Decimal('9')),
 ('Amanzi', 'Asmara', Decimal('3'), Decimal('49'), Decimal('24'), Decimal('20'), Decimal('4')),
 ('Amanzi', 'Bello', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('22'), Decimal('3')),
 ('Amanzi', 'Dahabu', Decimal('3'), Decimal('37'), Decimal('55'), Decimal('1'), Decimal('4')),
 ('Amanzi', 'Pwani', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('21'), Decimal('4')),
 ('Amanzi', 'Rural', Decimal('3'), Decimal('27'), Decimal('30'), Decimal('30'), Decimal('10')),
 ('Hawassa', 'Amina', Decimal('2'), Decimal('14'), Decimal('19'), Decimal('24'), Decimal('42')),
 ('Hawassa', 'Deka', Decimal('3'), Decimal('16'), Decimal('23'), Decimal('21'), Decimal('38')),
 ('Hawassa', 'Djenne', Decimal('3'), Decimal('18'), Decimal('19'), Decimal('23'), Decimal('36')),
 ('Hawassa', 'Rural', Decimal('4'), Decimal('52'), Decimal('12'), Decimal('12'), Decimal('19')),
 ('Hawassa', 'Serowe', Decimal('6'), Decimal('14'), Decimal('23'), Decimal('23'), Decimal('34')),
 ('Hawassa', 'Yaounde', Decimal('2'), Decimal('14'), Decimal('22'), Decimal('23'), Decimal('38')),
 ('Hawassa', 'Zanzibar', Decimal('0'), Decimal('22'), Decimal('22'), Decimal('17'), Decimal('40')),
 ('Kilimani', 'Amara', Decimal('8'), Decimal('22'), Decimal('25'), Decimal('16'), Decimal('30')),
 ('Kilimani', 'Harare', Decimal('7'), Decimal('11'), Decimal('30'), Decimal('20'), Decimal('31')),
 ('Kilimani', 'Isiqalo', Decimal('7'), Decimal('19'), Decimal('25'), Decimal('18'), Decimal('30')),
 ('Kilimani', 'Mrembo', Decimal('7'), Decimal('16'), Decimal('25'), Decimal('21'), Decimal('32')),
 ('Kilimani', 'Rural', Decimal('9'), Decimal('55'), Decimal('8'), Decimal('9'), Decimal('19')),
 ('Kilimani', 'Zuri', Decimal('8'), Decimal('71'), Decimal('6'), Decimal('11'), Decimal('4')),
 ('Sokoto', 'Bahari', Decimal('21'), Decimal('11'), Decimal('36'), Decimal('12'), Decimal('20')),
 ('Sokoto', 'Cheche', Decimal('19'), Decimal('16'), Decimal('35'), Decimal('12'), Decimal('18')),
 ('Sokoto', 'Ilanga', Decimal('16'), Decimal('12'), Decimal('36'), Decimal('15'), Decimal('21')),
 ('Sokoto', 'Kofi', Decimal('20'), Decimal('16'), Decimal('34'), Decimal('10'), Decimal('20')),
 ('Sokoto', 'Majengo', Decimal('18'), Decimal('14'), Decimal('36'), Decimal('12'), Decimal('20')),
 ('Sokoto', 'Marang', Decimal('17'), Decimal('19'), Decimal('31'), Decimal('13'), Decimal('21')),
 ('Sokoto', 'Rural', Decimal('22'), Decimal('49'), Decimal('8'), Decimal('8'), Decimal('13'))]

In [61]:
%%sql 
-- build a temporary table for the pivot table (complex queries) that take a long time

CREATE TEMPORARY TABLE IF NOT EXISTS town_aggregated_water_access AS
-- NOTE: it uses the select statement not the CTE statement but the CTE must be immediately followed
-- by the query that uses it

WITH town_totals AS (
SELECT
    province_name, 
    town_name,
    SUM(people_served) AS total_ppl_serv
FROM
    combined_analysis_table
GROUP BY
    province_name, town_name
)

SELECT
    ct.province_name,
    ct.town_name,
-- These case statements create columns for each type of source.
-- The results are aggregated and percentages are calculated
    ROUND((SUM(
            CASE WHEN source_type = 'river' 
            THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS river,
    ROUND((SUM(
            CASE WHEN source_type = 'shared_tap'
            THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS shared_tap,
    ROUND((SUM(
            CASE WHEN source_type = 'tap_in_home'
            THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home,
    ROUND((SUM(CASE WHEN source_type = 'tap_in_home_broken'
            THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS tap_in_home_broken,
    ROUND((SUM(CASE WHEN source_type = 'well'
            THEN people_served ELSE 0 END) * 100.0 / tt.total_ppl_serv), 0) AS well
FROM
    combined_analysis_table ct
JOIN
    town_totals tt
-- Since the town names are not unique, we have to join on a composite key
ON 
    ct.province_name = tt.province_name AND ct.town_name=tt.town_name
GROUP BY
    ct.province_name, ct.town_name
ORDER BY
    ct.province_name;

SELECT * FROM town_aggregated_water_access;

 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
0 rows affected.
31 rows affected.

[('Akatsi', 'Harare', Decimal('2'), Decimal('17'), Decimal('28'), Decimal('27'), Decimal('27')),
 ('Akatsi', 'Kintampo', Decimal('2'), Decimal('15'), Decimal('31'), Decimal('26'), Decimal('26')),
 ('Akatsi', 'Lusaka', Decimal('2'), Decimal('17'), Decimal('28'), Decimal('28'), Decimal('26')),
 ('Akatsi', 'Rural', Decimal('6'), Decimal('59'), Decimal('9'), Decimal('5'), Decimal('22')),
 ('Amanzi', 'Abidjan', Decimal('2'), Decimal('53'), Decimal('22'), Decimal('19'), Decimal('4')),
 ('Amanzi', 'Amina', Decimal('8'), Decimal('24'), Decimal('3'), Decimal('56'), Decimal('9')),
 ('Amanzi', 'Asmara', Decimal('3'), Decimal('49'), Decimal('24'), Decimal('20'), Decimal('4')),
 ('Amanzi', 'Bello', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('22'), Decimal('3')),
 ('Amanzi', 'Dahabu', Decimal('3'), Decimal('37'), Decimal('55'), Decimal('1'), Decimal('4')),
 ('Amanzi', 'Pwani', Decimal('3'), Decimal('53'), Decimal('20'), Decimal('21'), Decimal('4')),
 ('Amanzi', 'Rural', Decimal('3'), Decimal('27'), Decimal('30'), Decimal('30'), Decimal('10')),
 ('Hawassa', 'Amina', Decimal('2'), Decimal('14'), Decimal('19'), Decimal('24'), Decimal('42')),
 ('Hawassa', 'Deka', Decimal('3'), Decimal('16'), Decimal('23'), Decimal('21'), Decimal('38')),
 ('Hawassa', 'Djenne', Decimal('3'), Decimal('18'), Decimal('19'), Decimal('23'), Decimal('36')),
 ('Hawassa', 'Rural', Decimal('4'), Decimal('52'), Decimal('12'), Decimal('12'), Decimal('19')),
 ('Hawassa', 'Serowe', Decimal('6'), Decimal('14'), Decimal('23'), Decimal('23'), Decimal('34')),
 ('Hawassa', 'Yaounde', Decimal('2'), Decimal('14'), Decimal('22'), Decimal('23'), Decimal('38')),
 ('Hawassa', 'Zanzibar', Decimal('0'), Decimal('22'), Decimal('22'), Decimal('17'), Decimal('40')),
 ('Kilimani', 'Amara', Decimal('8'), Decimal('22'), Decimal('25'), Decimal('16'), Decimal('30')),
 ('Kilimani', 'Harare', Decimal('7'), Decimal('11'), Decimal('30'), Decimal('20'), Decimal('31')),
 ('Kilimani', 'Isiqalo', Decimal('7'), Decimal('19'), Decimal('25'), Decimal('18'), Decimal('30')),
 ('Kilimani', 'Mrembo', Decimal('7'), Decimal('16'), Decimal('25'), Decimal('21'), Decimal('32')),
 ('Kilimani', 'Rural', Decimal('9'), Decimal('55'), Decimal('8'), Decimal('9'), Decimal('19')),
 ('Kilimani', 'Zuri', Decimal('8'), Decimal('71'), Decimal('6'), Decimal('11'), Decimal('4')),
 ('Sokoto', 'Bahari', Decimal('21'), Decimal('11'), Decimal('36'), Decimal('12'), Decimal('20')),
 ('Sokoto', 'Cheche', Decimal('19'), Decimal('16'), Decimal('35'), Decimal('12'), Decimal('18')),
 ('Sokoto', 'Ilanga', Decimal('16'), Decimal('12'), Decimal('36'), Decimal('15'), Decimal('21')),
 ('Sokoto', 'Kofi', Decimal('20'), Decimal('16'), Decimal('34'), Decimal('10'), Decimal('20')),
 ('Sokoto', 'Majengo', Decimal('18'), Decimal('14'), Decimal('36'), Decimal('12'), Decimal('20')),
 ('Sokoto', 'Marang', Decimal('17'), Decimal('19'), Decimal('31'), Decimal('13'), Decimal('21')),
 ('Sokoto', 'Rural', Decimal('22'), Decimal('49'), Decimal('8'), Decimal('8'), Decimal('13'))]

In [55]:
%%sql
-- which town has the highest ratio of people who have taps, but have no running water?
SELECT
    province_name,
    town_name,
    ROUND((tap_in_home_broken / (tap_in_home_broken + tap_in_home)) * 100,0) AS Pct_broken_taps
FROM
    town_aggregated_water_access
ORDER BY
    Pct_broken_taps DESC

 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
31 rows affected.

[('Akatsi', 'Harare', Decimal('49')),
 ('Akatsi', 'Kintampo', Decimal('46')),
 ('Akatsi', 'Lusaka', Decimal('50')),
 ('Akatsi', 'Rural', Decimal('36')),
 ('Amanzi', 'Abidjan', Decimal('46')),
 ('Amanzi', 'Amina', Decimal('95')),
 ('Amanzi', 'Asmara', Decimal('45')),
 ('Amanzi', 'Bello', Decimal('52')),
 ('Amanzi', 'Dahabu', Decimal('2')),
 ('Amanzi', 'Pwani', Decimal('51')),
 ('Amanzi', 'Rural', Decimal('50')),
 ('Hawassa', 'Amina', Decimal('56')),
 ('Hawassa', 'Deka', Decimal('48')),
 ('Hawassa', 'Djenne', Decimal('55')),
 ('Hawassa', 'Rural', Decimal('50')),
 ('Hawassa', 'Serowe', Decimal('50')),
 ('Hawassa', 'Yaounde', Decimal('51')),
 ('Hawassa', 'Zanzibar', Decimal('44')),
 ('Kilimani', 'Amara', Decimal('39')),
 ('Kilimani', 'Harare', Decimal('40')),
 ('Kilimani', 'Isiqalo', Decimal('42')),
 ('Kilimani', 'Mrembo', Decimal('46')),
 ('Kilimani', 'Rural', Decimal('53')),
 ('Kilimani', 'Zuri', Decimal('65')),
 ('Sokoto', 'Bahari', Decimal('25')),
 ('Sokoto', 'Cheche', Decimal('26')),
 ('Sokoto', 'Ilanga', Decimal('29')),
 ('Sokoto', 'Kofi', Decimal('23')),
 ('Sokoto', 'Majengo', Decimal('25')),
 ('Sokoto', 'Marang', Decimal('30')),
 ('Sokoto', 'Rural', Decimal('50'))]

In [15]:
%%sql
-- Create the Project_progress table:

CREATE TABLE IF NOT EXISTS Project_progress (
/*Project_id  Unique key for sources in case we visit the same source more than once in the future.*/
    Project_id SERIAL PRIMARY KEY, 
/*source_id  Each of the sources we want to improve should exist, and should refer to the source table. This ensures data integrity.*/
    source_id VARCHAR(20) NOT NULL REFERENCES water_source(source_id) ON DELETE CASCADE ON UPDATE CASCADE, 
    Address VARCHAR(50), -- Street address
    Town VARCHAR(30),
    Province VARCHAR(30),
    Source_type VARCHAR(50),
    Improvement VARCHAR(50), -- What the engineers should do at that place
/*Source_status  We want to limit the type of information engineers can give us, so we limit Source_status.
 By DEFAULT all projects are in the "Backlog" which is like a TODO list.
 CHECK() ensures only those three options will be accepted. This helps to maintain clean data.
*/
    Source_status VARCHAR(50) DEFAULT 'Backlog' CHECK (Source_status IN ('Backlog', 'In progress', 'Complete')), 
    Date_of_completion DATE, -- Engineers will add this the day the source has been upgraded.
    Comments TEXT -- Engineers can leave comments. We use a TEXT type that has no limit on char length
);

 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
0 rows affected.

[]

In [41]:
%%sql
-- Project_progress_query

SELECT
    l.address,
    l.town_name,
    l.province_name,
    ws.source_id,
    ws.type_of_water_source,
    wp.results
FROM
    water_source ws
LEFT JOIN
    well_pollution wp ON ws.source_id = wp.source_id
INNER JOIN
    visits v ON ws.source_id = v.source_id
INNER JOIN
    location l ON l.location_id = v.location_id
WHERE 
    v.visit_count = 1 
AND ((ws.type_of_water_source = 'shared_tap' 
        AND v.time_in_queue > 30 ) OR (wp.results != 'Clean') OR (ws.type_of_water_source IN ('river','tap_in_home_broken'))
)
LIMIT 10

 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
10 rows affected.

[('10 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00001224', 'tap_in_home_broken', None),
 ('9 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00002224', 'tap_in_home_broken', None),
 ('17 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00004224', 'tap_in_home_broken', None),
 ('6 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00009224', 'well', 'Contaminated: Biological'),
 ('28 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00010224', 'well', 'Contaminated: Chemical'),
 ('32 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00011224', 'well', 'Contaminated: Chemical'),
 ('142 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00014224', 'tap_in_home_broken', None),
 ('60 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00017224', 'tap_in_home_broken', None),
 ('120 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00018224', 'well', 'Contaminated: Chemical'),
 ('150 Addis Ababa Road', 'Harare', 'Akatsi', 'AkHa00019224', 'tap_in_home_broken', None)]

In [49]:
%%sql
SELECT COUNT(*) FROM Project_progress_query WHERE results LIKE '%Biological'

 * mysql+pymysql://ultracode:***@localhost:3306/md_water_services
1 rows affected.

[(5310,)]