<div align="right" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/Logo blue_dark.png"  style="width:25px" align="right";/>
</div>

# SQL numeric functions and aggregations
© ExploreAI Academy

In this exercise, we will apply SQL numeric functions and aggregations to query a few tables in our Northwind database. Ensure that you have downloaded the database file, Northwind.db.

## Learning objectives

By the end of this train, you should:
- Be able to apply AVG, SUM, MAX, MIN, and COUNT functions.
- Know how to aggregate data at different levels using the GROUP BY clause. 
- Understand how to  order and limit the results.

First, let's load our sample database:

In [1]:
# Load and activate the SQL extension to allow us to execute SQL in a Jupyter notebook.
%load_ext sql

In [2]:
# Load the Northwind database stored in your local machine. 
# Make sure the file is saved in the same folder as this notebook.
%sql sqlite:///db/Northwind.db

Here is a view of all of our tables in the database:

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Northwind_ERD.png"  style="width:500px";/>
<br>
<br>
    <em>Figure 1: Northwind ERD</em>
</div>

## Exercise

Run the necessary queries that will provide us with the following information. Compare your queries with the solutions at the end of this notebook.

### Exercise 1

Display the average unit price of products in the 'Products' table.

In [4]:
%%sql

SELECT AVG(UnitPrice) FROM PRODUCTS;

 * sqlite:///db/Northwind.db
Done.

[(28.866363636363637,)]

### Exercise 2


Show the total quantity of products sold for each ProductID. Use the 'OrderDetails' table.

In [6]:
%%sql

SELECT 
    ProductID,
    SUM(Quantity) as total_quantity_of_products
FROM
    OrderDetails
GROUP BY
    ProductID;

 * sqlite:///db/Northwind.db
Done.

[(1, 828),
 (2, 1057),
 (3, 328),
 (4, 453),
 (5, 298),
 (6, 301),
 (7, 763),
 (8, 372),
 (9, 95),
 (10, 742),
 (11, 706),
 (12, 344),
 (13, 891),
 (14, 404),
 (15, 122),
 (16, 1158),
 (17, 978),
 (18, 539),
 (19, 723),
 (20, 313),
 (21, 1016),
 (22, 348),
 (23, 580),
 (24, 1125),
 (25, 318),
 (26, 753),
 (27, 365),
 (28, 640),
 (29, 746),
 (30, 612),
 (31, 1397),
 (32, 297),
 (33, 755),
 (34, 506),
 (35, 883),
 (36, 805),
 (37, 125),
 (38, 623),
 (39, 793),
 (40, 1103),
 (41, 981),
 (42, 697),
 (43, 580),
 (44, 601),
 (45, 508),
 (46, 548),
 (47, 485),
 (48, 138),
 (49, 520),
 (50, 235),
 (51, 886),
 (52, 500),
 (53, 722),
 (54, 755),
 (55, 903),
 (56, 1263),
 (57, 434),
 (58, 534),
 (59, 1496),
 (60, 1577),
 (61, 603),
 (62, 1083),
 (63, 445),
 (64, 740),
 (65, 745),
 (66, 239),
 (67, 184),
 (68, 799),
 (69, 714),
 (70, 817),
 (71, 1057),
 (72, 806),
 (73, 293),
 (74, 297),
 (75, 1155),
 (76, 981),
 (77, 791)]

### Exercise 3


Find the maximum, minimum, and average freight from the 'Orders' table.

In [7]:
%%sql

SELECT 
    MIN(Freight),
    MAX(Freight),
    AVG(Freight)
FROM
    Orders;

 * sqlite:///db/Northwind.db
Done.

[(0.02, 1007.64, 78.24420481927712)]

### Exercise 4

How many unique customers have made orders? Use the 'Orders' table.

In [8]:
%%sql

SELECT 
    COUNT(DISTINCT(CustomerID)) as number_of_unique_customers
FROM
    Orders;

 * sqlite:///db/Northwind.db
Done.

[(89,)]

### Exercise 5

What is the total price for each order? You need to multiply the unit price by the quantity and subtract the discount for each order detail, then sum all the order details for each order. Use the 'OrderDetails' table.

In [16]:
%%sql

SELECT 
    OrderID, SUM(ROUND(((UnitPrice*Quantity)-Discount),2)) as Total_price_for_order
FROM
    OrderDetails
GROUP BY
    OrderID
LIMIT 10;

 * sqlite:///db/Northwind.db
Done.

[(10248, 440.0),
 (10249, 1863.4),
 (10250, 1813.0),
 (10251, 670.8),
 (10252, 3730.0),
 (10253, 1444.8),
 (10254, 625.2),
 (10255, 2490.5),
 (10256, 517.8),
 (10257, 1119.9)]

### Challenge question

What are the 5 largest orders processed? (Hint: Use the 'OrderDetails' table.)

In [19]:
%%sql

SELECT 
    OrderID, SUM(Quantity) as Total_quantity
FROM
    OrderDetails
GROUP BY
    OrderID
ORDER BY
    Total_quantity DESC
LIMIT 5;

 * sqlite:///db/Northwind.db
Done.

[(10895, 346), (11030, 330), (10847, 288), (10515, 286), (10678, 280)]

## Solutions

### Exercise 1

In [ ]:
%%sql

SELECT 
    AVG(UnitPrice) 
FROM 
    Products;

### Exercise 2

In [ ]:
%%sql

SELECT 
    ProductID,
    SUM(Quantity) as TotalQuantity
FROM 
    OrderDetails
GROUP BY 
    ProductID;

### Exercise 3

In [ ]:
%%sql

SELECT 
    MAX(Freight) as MaxFreight,
    MIN(Freight) as MinFreight,
    AVG(Freight) as AvgFreight
FROM 
    Orders;

### Exercise 4

In [ ]:
%%sql

SELECT 
    COUNT(DISTINCT CustomerID) 
FROM 
    Orders;

### Exercise 5

In [14]:
%%sql

SELECT 
    OrderID, 
    SUM(UnitPrice * Quantity * (1 - Discount)) as TotalPrice 
FROM 
    OrderDetails
GROUP BY 
    OrderID
LIMIT 10;

 * sqlite:///db/Northwind.db
Done.

[(10248, 440.0),
 (10249, 1863.4),
 (10250, 1813.0),
 (10251, 670.8),
 (10252, 3730.0),
 (10253, 1444.8000000000002),
 (10254, 625.2),
 (10255, 2490.5),
 (10256, 517.8),
 (10257, 1119.9)]

### Challenge question

In [18]:
%%sql

SELECT 
    OrderID, 
    SUM(Quantity) as TotalQuantity 
FROM 
    OrderDetails
GROUP BY 
    OrderID
ORDER BY 
    TotalQuantity DESC 
LIMIT 5;

 * sqlite:///db/Northwind.db
Done.

[(10895, 346), (11030, 330), (10847, 288), (10515, 286), (10678, 280)]

<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/ExploreAI_logos/EAI_Blue_Dark.png"  style="width:200px";/>
</div>