# Preparing the sql environment

In [2]:
%load_ext sql

## Client Server Sql Architecture

In [5]:
%sql mysql+pymysql://ultracode:ultracode@localhost:3306

SQL COMMANDS

In [13]:
%sql SHOW DATABASES;

 * mysql+pymysql://ultracode:***@localhost:3306
   mysql+pymysql://ultracode:***@localhost:3306/united_nations
11 rows affected.

[('global_super_store',),
 ('information_schema',),
 ('mangata_gallo',),
 ('md_water_services',),
 ('mg_schema',),
 ('mydb',),
 ('mysql',),
 ('performance_schema',),
 ('sys',),
 ('test',),
 ('united_nations',)]

In [14]:
%%sql
SHOW COLLATION WHERE Collation LIKE "%unicode%";

 * mysql+pymysql://ultracode:***@localhost:3306
   mysql+pymysql://ultracode:***@localhost:3306/united_nations
20 rows affected.

[('utf8mb3_unicode_ci', 'utf8mb3', 192, '', 'Yes', 8),
 ('utf8mb3_unicode_520_ci', 'utf8mb3', 214, '', 'Yes', 8),
 ('utf8mb3_unicode_nopad_ci', 'utf8mb3', 1216, '', 'Yes', 8),
 ('utf8mb3_unicode_520_nopad_ci', 'utf8mb3', 1238, '', 'Yes', 8),
 ('ucs2_unicode_ci', 'ucs2', 128, '', 'Yes', 8),
 ('ucs2_unicode_520_ci', 'ucs2', 150, '', 'Yes', 8),
 ('ucs2_unicode_nopad_ci', 'ucs2', 1152, '', 'Yes', 8),
 ('ucs2_unicode_520_nopad_ci', 'ucs2', 1174, '', 'Yes', 8),
 ('utf8mb4_unicode_ci', 'utf8mb4', 224, '', 'Yes', 8),
 ('utf8mb4_unicode_520_ci', 'utf8mb4', 246, '', 'Yes', 8),
 ('utf8mb4_unicode_nopad_ci', 'utf8mb4', 1248, '', 'Yes', 8),
 ('utf8mb4_unicode_520_nopad_ci', 'utf8mb4', 1270, '', 'Yes', 8),
 ('utf16_unicode_ci', 'utf16', 101, '', 'Yes', 8),
 ('utf16_unicode_520_ci', 'utf16', 123, '', 'Yes', 8),
 ('utf16_unicode_nopad_ci', 'utf16', 1125, '', 'Yes', 8),
 ('utf16_unicode_520_nopad_ci', 'utf16', 1147, '', 'Yes', 8),
 ('utf32_unicode_ci', 'utf32', 160, '', 'Yes', 8),
 ('utf32_unicode_520_ci', 'utf32', 182, '', 'Yes', 8),
 ('utf32_unicode_nopad_ci', 'utf32', 1184, '', 'Yes', 8),
 ('utf32_unicode_520_nopad_ci', 'utf32', 1206, '', 'Yes', 8)]

In [16]:
%%sql

SELECT * FROM united_nations.Access_to_Basic_Services LIMIT 10;

 * mysql+pymysql://ultracode:***@localhost:3306
   mysql+pymysql://ultracode:***@localhost:3306/united_nations
10 rows affected.

[('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2015, Decimal('94.67'), Decimal('98.00'), Decimal('17.542806'), Decimal('184.39'), Decimal('2699700.00'), Decimal('4.93')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2016, Decimal('94.67'), Decimal('98.00'), Decimal('17.794055'), Decimal('137.28'), Decimal('2699700.00'), Decimal('4.96')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2017, Decimal('95.00'), Decimal('98.00'), Decimal('18.037776'), Decimal('166.81'), Decimal('2699700.00'), Decimal('4.90')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2018, Decimal('95.00'), Decimal('98.00'), Decimal('18.276452'), Decimal('179.34'), Decimal('2699700.00'), Decimal('4.85')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2019, Decimal('95.00'), Decimal('98.00'), Decimal('18.513673'), Decimal('181.67'), Decimal('2699700.00'), Decimal('4.80')),
 ('Central and Southern Asia', 'Central Asia', 'Kazakhstan', 2020, Decimal('95.00'), Decimal('98.00'), Decimal('18.755666'), Decimal('171.08'), Decimal('2699700.00'), Decimal('4.89')),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2015, Decimal('89.67'), Decimal('96.67'), None, None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2016, Decimal('90.33'), Decimal('96.67'), None, None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2017, Decimal('91.00'), Decimal('97.33'), None, None, None, None),
 ('Central and Southern Asia', 'Central Asia', 'Kyrgyzstan', 2018, Decimal('91.33'), Decimal('97.33'), None, None, None, None)]