<div align="center" style=" font-size: 80%; text-align: center; margin: 0 auto">
<img src="https://raw.githubusercontent.com/Explore-AI/Pictures/master/Python-Notebook-Banners/Code_challenge.png"  style="display: block; margin-left: auto; margin-right: auto;";/>
</div>

# Exam Prep

## Section 1

### Question 1

Write a function that converts a given string into "txt spk".

The function should take as input a sentence (as `str`) and return as output the string but with all vowles and punctuation removed. For example:
```python
text_speech('Hello, World!') == 'Hll Wrld'
```

_**Function specfications:**_
* Vowels are defined as any character in `aeiou`. Uppercase vowels should also be removed.
* Punctuation is defined as any symbol in `.,!?;:`.
* The function should return a `str` type.

_**HINT:**_

Try Googling "How to delete a character in Python" if you get stuck.

In [ ]:
def text_speech(sentence):
    return "hello".translate({ord(vowel): None for vowel in 'AEIOUaeiou.,!?;:'})

In [ ]:
def text_speech(sentence):
    vowels = "aeiouAEIOU"
    punctuation = ".,!?;:"
    txt_spk = ""
    for char in sentence:
        if char not in vowels and char not in punctuation:
            txt_spk += char
    return txt_spk

In [ ]:
text_speech('I talk funny')

' tlk fnny'

_**Expected Outputs:**_
```python
text_speech('Hello, World!') == 'Hll Wrld'
text_speech('I talk funny') == ' tlk fnny'
text_speech('This is not good English') == 'Ths s nt gd nglsh'
```

### Question 2

The function below should sort the elements of the list in reverse order (highest to lowest) and return the first two elements of the list, however, it contains a number of errors. Uncomment the function, and correct the errors until the function yields the desired output.

_**Hint:**_

* Use the error messages python provides you to correct the function
* To check whether the function is working, you can use the Athena autograder. _**Don't be afraid to submit multiple times to the autograder when checking whether your function works.**_

In [ ]:
def reverse_sort_slice_list(a):
    output = sorted(a, reverse=True)
    output = output[:2]
    return output

In [ ]:
def first_two_max(lst):
    lst.sort(reverse=True)
    return lst[:2]

In [ ]:
reverse_sort_slice_list([1, 5, 3, 2]) == [5, 3]

True

_**Expected outputs:**_
```python
reverse_sort_slice_list([1, 5, 3, 2]) == [5, 3]
reverse_sort_slice_list([-1, 3, -6, 7]) == [7, 3]
reverse_sort_slice_list([2]) == [2]
```

## Section 2

You will require the use of the `numpy` and `pandas` packages in this section. Use them to answer the following questions.

In [ ]:
import numpy as np
import pandas as pd

### Question 3

Write a function which calculates the following math equation and round your answer to 2 decimal places.

\begin{equation}
 z = \frac{\pi e^{x^2}}{4y}
\end{equation}

_**Function Specifications:**_
* The input variables `x` and `y` are single values (that is, not a `list`/`array`)
* If a division by zero occurs, raise a `ValueError`.
* Output should be rounded to 2 decimal places.

In [ ]:
def custom_function(x,y):
    import maths
    if y == 0:
        raise ValueError

    z = np.pi * np.exp(x**2) / (4 *  y)

    return round(z,2)

***If you use any other library please include it within the function***

In [ ]:
custom_function(0.5, 7) == 0.14

True

_**Expected Outputs:**_
```python
custom_function(0.5, 7) == 0.14
custom_function(0.5,0.01) == 100.85
custom_function(0.1,0.3) == 2.64
```

### Question 4

Given a Python list, calculate and return the difference between the second largest number and the second smallest number. Assume that the list contains two or more elements.

_**Function Specifications:**_
* The second largest / smallest must be different to the largest / smallest number in a list. That is:
```python
difference([10, 10, 10, 8, 5, 2, 1, 1, 1]) == 8 - 2 == 6
```
* Should take a `list` as input.

In [ ]:
### START FUNCTION
def difference(list1):

    if len(list1) == 2:
        diff = min(list1)-max(list1)
        return diff

    maximum = max(list1)
    minimum = min(list1)

    for i in list1:
        if maximum in list1:
            list1.remove(maximum)
        if minimum in list1:
            list1.remove(minimum)

    diff = max(list1)-min(list1)

    return diff
### END FUNCTION

In [ ]:
def difference(nums):
    sorted_nums = sorted(set(nums))

    # Calculate and return the difference between the second largest and second smallest numbers
    return sorted_nums[-2] - sorted_nums[1]

[1,2]
1-2 =-1

In [ ]:
difference([1, 2]) == -1

True

_**Expected Outputs:**_
```python
difference([1,2]) == -1
difference([1,2,3,4]) == 1
difference([5,13,1,9,18]) == 8
```

### Question 5

Write a function that takes a list of numbers as an input and produces a report on the sample statistics of the list. The function should return a `dict` type object containing statistics of the list.

_**Function Specifications:**_
* Must take a `list` as input.
* If the function does not receive a `list`, it must raise a `TypeError`.
* If the length of the `list` is smaller than or equal to 1, raise a `ValueError`.
* Function must return a `dict`, whose keys represent the sample statistics of the input with the following format:
```python
{
    'mean': # mean of the input,
    'std': # unbiased estimate of the standard deviation,
    'min': # minimum of the input,
    'median': # median of the input,
    'max': # maximum of the input
}
```
* If the input list contains multiple rows, the function should report on the mean/std/max/etc of each row in the form of a list.
```python
statistics([[1, 2], [3, 4]]) == {
    'mean': [1.5, 3.5],
    'std': [0.71, 0.71],
    'min': [1, 3],
    'median': [1.5, 3.5],
    'max': [2, 4]
}
```
* All numerical values should be rounded to 2 decimal places

_**HINT:**_

* Use `numpy` functions with the `axis` keyword.
* When doing an unbiased estimate, try googling the `ddof` keyword, or refer to the train in Athena.
* The `axis` keyword should be either `0`, `1`, or `-1`. One of these will work better than the other.
* _You can get partial marks for this question if you only get part of it correct. Don't be afraid to submit to the autograder for marks if you are getting stuck._

In [ ]:
def statistics(x):

    if len(x) <= 1:
        raise ValueError

    if not isinstance(x, list):
        raise TypeError

    out = dict()
    out['mean'] = np.mean(x, axis=-1)
    out['std'] = np.std(x, axis=-1, ddof=1)
    out['min'] = np.min(x, axis=-1)
    out['median'] = np.median(x, axis=-1)
    out['max'] = np.max(x, axis=-1)

    for key, value in out.items():
        out[key] = np.round(value, 2).tolist()
    return out

In [ ]:
statistics([1, 2, 2, 3, 4])

{'mean': 2.4, 'std': 1.14, 'min': 1, 'median': 2.0, 'max': 4}

_**Expected Outputs:**_
```python
statistics([1, 1, 1, 1]) == {'mean': 1, 'std': 0, 'min': 1, 'median', 1, 'max': 1}
statistics([1, 2, 2, 3, 4]) == {'mean': 2.4, 'std': 1.14, 'min': 1, 'median': 2.0, 'max': 4}
statistics([[1, 2], [3, 4]]) == {
    'mean': [1.5, 3.5],
    'std': [0.71, 0.71],
    'min': [1, 3],
    'median': [1.5, 3.5],
    'max': [2, 4]
}
```

### Dataframes

You will need these dataframes in order to answer the following questions.

_**DO NOT ALTER THESE DATAFRAMES AS DOING SO CAN LEAD TO A NEGATIVE MARK**_

In [ ]:
country_map_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/country_code_map.csv', index_col='Country Code')
population_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/world_population.csv', index_col='Country Code')
meta_df = pd.read_csv('https://raw.githubusercontent.com/Explore-AI/Public-Data/master/AnalyseProject/metadata.csv', index_col='Country Code')

_**Dataframe specifications:**_

The dataframes provide information about the population of the world for various years. Some things to note:
* All dataframes have a `Country Code` as an index, which is a three letter code referring to a country.
* The `country_map_df` data maps the `Country Code` to a `Country Name`.
* The `population_df` data contains information on the population for a given country between the years of 1960 and 2017.
* The `meta_df` data contains meta information about each country, including it's geographical region, it's income group, and a comment on the country as a whole.

In [ ]:
country_map_df.head()

             Country Name
Country Code
ABW                 Aruba
AFG           Afghanistan
AGO                Angola
ALB               Albania
AND               Andorra

In [ ]:
population_df.head()

,1960,1961,1962,1963,1964,1965,1966,1967,1968,1969,...,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017
Country Code,,,,,,,,,,,,,,,,,,,,,
ABW,54211.0,55438.0,56225.0,56695.0,57032.0,57360.0,57715.0,58055.0,58386.0,58726.0,...,101353.0,101453.0,101669.0,102053.0,102577.0,103187.0,103795.0,104341.0,104822.0,105264.0
AFG,8996351.0,9166764.0,9345868.0,9533954.0,9731361.0,9938414.0,10152331.0,10372630.0,10604346.0,10854428.0,...,27294031.0,28004331.0,28803167.0,29708599.0,30696958.0,31731688.0,32758020.0,33736494.0,34656032.0,35530081.0
AGO,5643182.0,5753024.0,5866061.0,5980417.0,6093321.0,6203299.0,6309770.0,6414995.0,6523791.0,6642632.0,...,21759420.0,22549547.0,23369131.0,24218565.0,25096150.0,25998340.0,26920466.0,27859305.0,28813463.0,29784193.0
ALB,1608800.0,1659800.0,1711319.0,1762621.0,1814135.0,1864791.0,1914573.0,1965598.0,2022272.0,2081695.0,...,2947314.0,2927519.0,2913021.0,2905195.0,2900401.0,2895092.0,2889104.0,2880703.0,2876101.0,2873457.0
AND,13411.0,14375.0,15370.0,16412.0,17469.0,18549.0,19647.0,20758.0,21890.0,23058.0,...,83861.0,84462.0,84449.0,83751.0,82431.0,80788.0,79223.0,78014.0,77281.0,76965.0

In [ ]:
meta_df.head()

,Region,Income Group,Special Notes
Country Code,,,
ABW,Latin America & Caribbean,High income,Mining is included in agriculture\r\r\r\nElect...
AFG,South Asia,Low income,Fiscal year end: March 20; reporting period fo...
AGO,Sub-Saharan Africa,Lower middle income,NaN
ALB,Europe & Central Asia,Upper middle income,NaN
AND,Europe & Central Asia,High income,WB-3 code changed from ADO to AND to align wit...

Using this information, answer the questions below:

### Question 6

Write a function that returns the population for a given year and country name.

_**Function Specifications:**_
* The function should take in a year as `int` and a country name as a `str` as inputs.
* The function should return an `int`.

_**Note:**_
* Column references should be a `str` type. This is relevant when referring to the years in the `population_df` table.

In [ ]:
### START FUNCTION
def population_by_country_year(country_name, year):
    df = country_map_df.copy()
    df = df.join(population_df)
    df = df[df['Country Name'] == country_name]
    out = df[str(year)].values
    return int(out)
### END FUNCTION

In [ ]:
population_by_country_year('Algeria', 2015)

39871528

_**Expected Outputs:**_
```python
population_by_country_year('South Africa', 1960) == 17456855
population_by_country_year('Canada', 2012) == 34750545
population_by_country_year('Algeria', 2015) == 39871528
```

### Question 7

Write a function that returns the summed population total in each geographic region for a given year.

_**Function Specifications:**_
* Should take as input a year as an `int`.
* Should have `Region` as the index.
* Should return a `DataFrame`, NOT a `Series`.

In [ ]:
### START FUNCTION
def total_pop_in_region(year):
    df = meta_df[['Region']].copy()
    df = df.join(population_df)
    df = df.groupby('Region').sum()
    df = df[[str(year)]]
    return df
### END FUNCTION

In [ ]:
total_pop_in_region(1960)

                                    1960
Region
East Asia & Pacific         1.029333e+09
Europe & Central Asia       6.606384e+08
Latin America & Caribbean   2.204347e+08
Middle East & North Africa  1.054887e+08
North America               1.986244e+08
South Asia                  5.718357e+08
Sub-Saharan Africa          2.285860e+08

_**Expected Outputs:**_
```python
total_pop_in_region(1960)
```
> <table class="dataframe" border="1">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>1960</th>
    </tr>
    <tr>
      <th>Region</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>East Asia &amp; Pacific</th>
      <td>1.029333e+09</td>
    </tr>
    <tr>
      <th>Europe &amp; Central Asia</th>
      <td>6.606384e+08</td>
    </tr>
    <tr>
      <th>Latin America &amp; Caribbean</th>
      <td>2.204347e+08</td>
    </tr>
    <tr>
      <th>Middle East &amp; North Africa</th>
      <td>1.054887e+08</td>
    </tr>
    <tr>
      <th>North America</th>
      <td>1.986244e+08</td>
    </tr>
    <tr>
      <th>South Asia</th>
      <td>5.718357e+08</td>
    </tr>
    <tr>
      <th>Sub-Saharan Africa</th>
      <td>2.285860e+08</td>
    </tr>
  </tbody>
</table>

```python
total_pop_in_region(2016)
```
> <table class="dataframe" border="1">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>2016</th>
    </tr>
    <tr>
      <th>Region</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>East Asia &amp; Pacific</th>
      <td>2.275219e+09</td>
    </tr>
    <tr>
      <th>Europe &amp; Central Asia</th>
      <td>9.116863e+08</td>
    </tr>
    <tr>
      <th>Latin America &amp; Caribbean</th>
      <td>6.376639e+08</td>
    </tr>
    <tr>
      <th>Middle East &amp; North Africa</th>
      <td>4.367380e+08</td>
    </tr>
    <tr>
      <th>North America</th>
      <td>3.597359e+08</td>
    </tr>
    <tr>
      <th>South Asia</th>
      <td>1.766394e+09</td>
    </tr>
    <tr>
      <th>Sub-Saharan Africa</th>
      <td>1.028258e+09</td>
    </tr>
  </tbody>
</table>

#Examples for you

### Challenge 1:

Palindrome Check
Question: Write a function to determine if a given string is a palindrome.

In [ ]:
def is_palindrome(s):
    # CODE HERE
    return

**Expected Output**

```python
is_palindrome("radar"))  == True
is_palindrome("hello")) ==  False
```

### Challenge 2:

Factorial Calculation
Question: Write a function to calculate the factorial of a given number.

In [ ]:
def factorial(n):
  # CODE HERE
  return

**Expected Output**

```python
factorial(5) == 120
```

### Challenge 3:
Find the Missing Number
Question: Given an array containing n distinct numbers taken from 0, 1, 2, ..., n, find the one that is missing from the array.

In [ ]:
def missing_number(nums):
  # CODE HERE
  return

**Expected Output**

```python
missing_number([3, 0, 1]) == 2
missing_number([9, 6, 4, 2, 3, 5, 7, 0, 1]))  ==  8
```

# Solutions

In [ ]:
def is_palindrome(s):
    # Convert string to lowercase
    s = s.lower()
    # Check if the string is equal to its reverse
    return s == s[::-1]

In [ ]:
def factorial(n):
    if n == 0:
        return 1
    else:
        return n * factorial(n - 1)

In [ ]:
def missing_number(nums):
    n = len(nums)
    # Sum of all numbers from 0 to n
    total = n * (n + 1) // 2
    # Sum of all numbers in the array
    actual_sum = sum(nums)
    return total - actual_sum